@import url(./normalize.css);
@import url(./reset.css);
@import url(./fonts.css);

/* 숨김 콘텐츠 */
.a11y-hidden{
/* background-color: red; */
position: absolute;
width:1px;
height: 1px;
overflow: hidden;
clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본스타일 */
*, *::before, *::after{
  box-sizing: border-box; 
/* width(padding+borde)+margin */
}

/* root 요소 */
html{ 
  font-size: 10px;
}

/* 링크 스타일 */
a{
  color:inherit;
  text-decoration: none;
}
/* 본문 스타일 */
body {
  /* em:부모로부터 상속받은 값을 기준으로 계산,rem:root기준으로 계산 */
  font-size: 1.4rem;
  color: #212121;
  /* 위에서 아래로 */
  background: #ccc linear-gradient(to bottom, 
  #ccc 0%, 
  #eee 35%, 
  #fff 70%, 
  #fff 100%);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", 
  "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
.header, .visual , .main , .slogan , .footer-inner{
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background-color: #fff;
  padding: 0 30px; /* 상하:0,좌우:30 /4개면 시계방향 */
  border-radius: 0 0 15px 15px;
  position: relative;
}
/* 로고 */
.logo{
  /* background-color: blue; */
  position: absolute;
  top:45px;
  left:60px;
  /* 밑에 숨어있는 로고가 위로 올라옴
  스태틱이 아닌 포지션일 때 인덱스 조정, z 축의 인덱스를 수정함 */
  z-index:10;
}

/* 텍스트 링크 모음 */
.member{
  /* background-color: aqua; */
  text-align : right;
  padding: 4px 0;
  /* position 속성을 이용하여 .member 영역을 오른쪽으로 10px만큼 이동 */
  /* position: relative;
  margin? right: -10px; */
  /* transform 속성을 이용하여 .member 영역을 오른쪽으로 10px만큼 이동 */
  transform: translateX(10px);
}

.member li{
  /* background-color: pink; */
  display: inline-block;
}

.member a{
/* background-color : coral; */
/* 모바일에서 클릭할 수 있는 면적 늘림 */
padding: 6px 10px;
display: inherit;
text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a요소를 선택하여 
오른쪽 패딩값을 0으로 재정의 하는 방법/오른쪽 여백 없애기 */
/* .member li:last-child a{
  padding-right: 0;
} */

.divider{
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}

.menu{
  border-top: 2px solid #212121;
  background: #e85e2c linear-gradient( to bottom,
  #ef9126 0%,
  #e85e2c 35%,
  #e85e2c 70%,
  #ef9126 100%);
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  /* 높이 설정으로 인해 display: flow-root; 생략 가능 */
  height: 47px;
  position: relative;
}
/* html에대해,css에대해,웹표준 메뉴는 li기준 
나머지는 ?? */
.menu >li:nth-child(-n+3){
position: relative;
}

.menu-item{
  /* background-color: aqua; */
  position: relative;
  float: left;
  border-left: 2px solid #fff;
}

.menu-button{
  /* border-width가 0 ,border보다 border-left가 나중에 와야함*/
  border: 0;
  background: transparent;
  /* 여백도 누를 수 있게 menu-item말고 menu-button에 줌 */
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  /* X축,Y축로 1px씩 블러는0 */
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 클래스 사이 띄어쓰기:포함되어있다 */
.is-active .menu-button{
color:yellow;
}
/* before,after 둘다 인라인 요소
부모가 패딩 가지고 있으면 자식은 패딩 영역을 넘을 수x */
.is-active .menu-button::after{
  content:"";
  display: block;
  /* background-color: greenyellow; */
  border-top: 2px solid #000;
  }

.sub-menu{
  /* background-color: pink; */
  /* 버튼 누를 떄 마다 좌표 바꿔가며 배치할거기 때문에 absolute 씀 */
  /* absolute가 지정되면 block이 생성됨
  독립적인 bfc가 생성되면서 잃어버린 float의 높이를 읽어드림 */
  position: absolute;
  top: 47px;
  padding: 4px 0;
  display: none;
}

.menu-html, .menu-css, .menu-standards{
left:0;
}

.menu-accessibility, .menu-qna, .menu-archive{
right: 0;
}

.is-active .sub-menu{
  display: block;
  /* 공백처리를 줄바꿈의 대상으로 삼지 말아라 */
  white-space: nowrap;
}

.sub-menu li{
  display: inline-block;
  /* background-color: gold; */
}

.sub-menu a::before{
  content: "\e805";
  /* 글꼴 알려주기 */
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* a에 마우스를 올리면 아이콘바뀜,
tab으로 이동했을 때도 아이콘 바뀜 */
.sub-menu a:hover::before,
.sub-menu a:focus::before{
content:"\e801"
}

.sub-menu a{
  /* background-color: aqua; */
  /* 부모(li)가 inline-block이면 자식도 inline, inline-block 쓰는게 좋음  */
  display: inline-block;
  padding: 6px 0;
}

.sub-menu a:hover,
.sub-menu a:focus{
  color: #f00;
}
/* 비주얼 */
/* @(at sign rule):정의,선언 */
/* keyframes:애니메이션 규칙을 정의, 이 규칙을 visual-text에 적용 */
@keyframes moveEffect{
  0%{
  font-size:12px;
  color: rgba(0,0,0,0.2);
  /* x좌표y좌표 */
  transform: translate(0,0);
  }
  100%{
  font-size: 24px;
  color: rgba(0,0,0,1);
  transform: translate(400px,75px);

  }
}

.visual{
  background: orange;
  height: 120px;
  position: relative;
}

.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: slateblue;
  animation-name: moveEffect;
  animation-duration: 2000ms;
  /* 100% 지점에서 끝난걸로 멈춤 */
  animation-fill-mode: forwards;
  /* inline-block은 글자크기만큼 줄어들기 때문에 
  transform하면 스크롤 생기는 현상을 해결해줌 */
  display: inline-block;
}
/* 메인 */
.main{
  background: lightgreen;
  height: 50vh;
  display: flow-root;
  padding: 0 15px;
}
.group{
  margin: 0 15px;
  float: left;
}
.group1{
background-color: violet;
width: 250px;
}
.group2{
background-color: salmon;
width: 380px;
}
.group3{
background-color: yellow;
width: 190px;
}

/* 슬로건 */
.slogan{
  background: skyblue;
  height: 10vh;
  clear:both;
}
/* 푸터 */
.footer{
  background: #ccc linear-gradient(to bottom, 
  #ccc 0%, 
  #eee 35%,
  #fff 70%, 
  #fff 100%);
}
.footer-inner{
  background: silver;
  height: 15vh;
}