@import url(./normalize.css);
@import url(./reset.css);
@import url(./fonts.css);
@import url(./fontello.css);
@import url(./module.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  /* background-color: red; */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* width(padding+borde)+margin */
}

/* root 요소 */
html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  /* em:부모로부터 상속받은 값을 기준으로 계산,rem:root기준으로 계산 */
  color: #212121;
  font-size: 1.4rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background: #ccc;
  background-image: url(./images/bg_flower.png),
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0;
  /* 배경은 먼저 쌓인게 먼저 보임 */
  /* 컨텐츠만 움직임 */
  /* background-attachment: fixed; */
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: #fff;
  padding: 0 30px;
  /* 상하:0,좌우:30 /4개면 시계방향 */
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  /* background-color: blue; */
  position: absolute;
  top: 45px;
  left: 60px;
  /* 밑에 숨어있는 로고가 위로 올라옴
  떠 있는 요소에 대해 순서를 정해줄때 사용
  스태틱이 아닌 포지션일 때 인덱스 조정, z 축의 인덱스를 수정함, 기본값 0 */
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member {
  /* background-color: aqua; */
  text-align: right;
  padding: 4px 0;
  /* position 속성을 이용하여 .member 영역을 오른쪽으로 10px만큼 이동 */
  /* position: relative;
  margin? right: -10px; */
  /* transform 속성을 이용하여 .member 영역을 오른쪽으로 10px만큼 이동 */
  transform: translateX(10px);
}

.member li {
  /* background-color: pink; */
  display: inline-block;
}

.member a {
  /* background-color : coral; */
  /* 모바일에서 클릭할 수 있는 면적 늘림 */
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a요소를 선택하여 
오른쪽 패딩값을 0으로 재정의 하는 방법/오른쪽 여백 없애기 */
/* .member li:last-child a{
  padding-right: 0;
} */

.divider {
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}

.menu {
  border-top: 2px solid #212121;
  background: #e85e2c linear-gradient(to bottom,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%);
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  /* 높이 설정으로 인해 display: flow-root; 생략 가능 */
  height: 47px;
  position: relative;
}

/* html에대해,css에대해,웹표준 메뉴는 li기준 
나머지는 ?? */
.menu>li:nth-child(-n+3) {
  position: relative;
}

.menu-item {
  /* background-color: aqua; */
  position: relative;
  float: left;
  border-left: 2px solid #fff;
}

.menu-button {
  /* border-width가 0 ,border보다 border-left가 나중에 와야함*/
  border: 0;
  background: transparent;
  /* 여백도 누를 수 있게 menu-item말고 menu-button에 줌 */
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  /* X축,Y축로 1px씩 블러는0 */
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 클래스 사이 띄어쓰기:포함되어있다 */
.is-active .menu-button {
  color: yellow;
}

/* before,after 둘다 인라인 요소
부모가 패딩 가지고 있으면 자식은 패딩 영역을 넘을 수x */
.is-active .menu-button::after {
  content: "";
  display: block;
  /* background-color: greenyellow; */
  border-top: 2px solid #000;
}

.sub-menu {
  /* background-color: pink; */
  /* 버튼 누를 떄 마다 좌표 바꿔가며 배치할거기 때문에 absolute 씀 */
  /* absolute가 지정되면 block이 생성됨
  독립적인 bfc가 생성되면서 잃어버린 float의 높이를 읽어드림 */
  position: absolute;
  top: 47px;
  padding: 4px 0;
  display: none;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  /* 공백처리를 줄바꿈의 대상으로 삼지 말아라 */
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
  /* background-color: gold; */
}

.sub-menu a::before {
  content: "\e805";
  /* 글꼴 알려주기 */
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a에 마우스를 올리면 아이콘바뀜,
tab으로 이동했을 때도 아이콘 바뀜 */
.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: "\e801"
}

.sub-menu a {
  /* background-color: aqua; */
  /* 부모(li)가 inline-block이면 자식도 inline, inline-block 쓰는게 좋음  */
  display: inline-block;
  padding: 6px 0;
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: #f00;
}

/* 비주얼 */
/* @(at sign rule):정의,선언 */
/* keyframes:애니메이션 규칙을 정의, 이 규칙을 visual-text에 적용 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
    /* margin이나 padding쓰면 reflow-성능문제가 생겨서 transform속성을 씀 */
    /* x좌표y좌표 */
    transform: translate(0, 0);
  }

  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);

  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.visual {
  /* background: orange; */
  height: 120px;
  /* 앱솔루트의 before,after를 똑같은 위치에 겹쳐놓기 위해 씀 */
  position: relative;
}

/* 1,3번이미지/2,4번이미지 영역 2개여야함
영역에 컨텐츠를 담을게 아니라 꽃모양 배경만 담을거임
div에 백그라운드 깔아주면 됨
비포에 배경2개 애프터의 배경2개 깔아줌
마크업 안건들이고 싶어서 가상선택자 사용*/
.visual::before,
.visual::after {
  content: "";
  position: absolute;
  /* 부모와 똑같게 하려고 width,height 사용 */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation-name: fadeEffect;
  animation-duration: 2000ms;
  /* 무한 반복 */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.visual::before {
  /* background-color: yellow; */
  /* background-image: url(./images/ani_flower_01.png),
                    url(./images/ani_flower_02.png);
  background-repeat: no-repeat;
  background-position: 0 -10px,600px 0; */
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px,
    url(./images/ani_flower_02.png) no-repeat 600px 0;
}

.visual::after {
  /* background-color: pink; */
  background: url(./images/ani_flower_03.png) no-repeat 300px 0,
    url(./images/ani_flower_04.png) no-repeat 800px 0;
  animation-delay: 1000ms;
}

.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* background-color: slateblue; */
  animation-name: moveEffect;
  animation-duration: 3000ms;
  animation-timing-function: ease-in-out;
  /* 100% 지점에서 끝난걸로 멈춤 */
  animation-fill-mode: forwards;
  /* inline-block은 글자크기만큼 줄어들기 때문에 transform하면 스크롤 생기는 현상을 해결해줌 */
  /* display: inline-block; */
  position: absolute;
  z-index: 1;
}

/* 메인 */
.main {
  background: #fff;
  min-height: 450px;
  display: flow-root;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
}

.group2 {
  /* background-color: salmon; */
  width: 380px;
}

.group3 {
  width: 190px;
}

/* 로그인 */
.login {
  box-shadow: 5px 5px 0 0 #ccc;
  background: orange radial-gradient(circle at right top, orange, orangered);
  padding: 10px;
  border-radius: 5px;
}

.login-title {
  background-color: transparent;
  color: yellow;
  font-size: 15px;
  font-weight: 700;
  text-indent: 10px;
  /*들여쓰기 */
}

.login-form {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  /*로그인 버튼 위치 */
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}

.user-email,
.user-pw {
  /* background-color: palegreen; */
  margin-bottom: 5px;

}

.login-form label {
  /* 아이디 비밀번호 */
  /* background-color: #e85e2c; */
  display: inline-block;
  width: 52px
}

.login-form input {
  /* background-color: aqua; */
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  /* 입력 서식에 여백 줌 */
  padding: 1px 1px 1px 5px;
  border-radius: 3px;
}

.login-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 53px;
  /* 로그인 버튼 높이 늘림 */
  background-color: orangered;
  color: #fff;
  border: 0;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 13px;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  display: flow-root;
}

.sign li:first-child {
  float: left;
}

.sign li:last-child {
  float: right;
}

.sign a {
  /* display: block; */
  padding: 6px 0;
}

/*li보다 a에 주는게 더 효과적, 
li에 주면 a를 블록으로 만들어야하고 공백생김(아이콘과 글자 떨어짐)
a에 주면 아이콘 눌러도 이동 */
.sign a::before {
  content: "\e804";
  /* 글꼴 알려주기 */
  font-family: 'fontello';
  font-weight: normal;
  text-decoration: inherit;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 유효성 검사 배너/그림자는 요소가 아님->그림자 위에 겹쳐져서 보임 */
.validation-list {
  /* background-color: yellow; */
  margin-top: 25px;
  /* 그림자(5px)만큼 더 줌 */
  /* display: flex; */
}

.validation-list li {
  /* 마진병합-노멀플로우일때 상,하가 겹치면 발생//플렉스(437)면 안겹침 */
  margin-top: 10px;
}

/* li는 링크태그가 아니고 a가 링크태그여서 449~451줄을
a안에 넣으면 전체영역이 다 링크가 됨 */
.validation-list a {
  /* a에 block 을 사용하지않으면 기본값이 inline임->inline이면width가 컨텐츠만큼 줄어버림
  block을 해서 부모랑 크기가 같아짐 */
  display: block;
  /* 이미지를 먼저 주는 이유:이미지가 위에 와야해서 */
  background: url(./images/validation_icon.png) no-repeat 25px 50%, #ccc linear-gradient(to bottom, #ccc, #eee);
  padding: 8px 15px 8px 50px;
  border-radius: 30px;
  border: 1px solid #aaa;
}

.validation-list a:hover,
.validation-list a:focus {
  /* 포커스: 키보드 탭 키로 선택했을때도 색깔 바뀜 */
  color: #f00;
}

/* 웹 관련 용어 */
.term {
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
  background: linear-gradient(to bottom, #ccc, #eee);
}

.term-title {
  font-size: 15px;
  font-weight: 700;
}

.term-list {
  margin-top: 10px;
}

.term-list div {
  /* background-color: plum; */
  margin-top: 10px;
  display: flow-root;
}

.term-list-subject,
.term-list-brief {
  /* background-color: lawngreen; */
  float: right;
  /* 크기를 주지 않으면 오른쪽으로 배치가 불가능->
  웹표준이란 밑에 있는 공간에 배치를 하려면 그 공간 크기에 맞게 사이즈를 조절해함 */
  width: 145px;
}

.term-list-subject {
  color: #296897;
  font-weight: 500;
}

.term-list-thumbnail {
  /* background-color: skyblue; */
  float: left;
}

.term-list-thumbnail img {
  /* 인라인요소여서 생기는 갭 해결 */
  vertical-align: middle;
}

.term-list-brief {
  /* background-color: salmon; */
  margin-top: 5px;
  line-height: 1.5;
}

.cross .term-list-subject,
.cross .term-list-brief {
  float: left;
  width: 145px;
}

.cross .term-list-thumbnail {
  float: right;
}

/* 검색 폼 */
.search-form {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
}
.search-form-inner{
  /* background-color: yellow; */
  display: flex;
  flex-flow: row nowrap;
}
.form-group{
  /* background-color: pink; */
  /* 검색상자가 확대돼서 검색버튼이 오른쪽으로 감 */
  flex-grow: 1;
  /* 옆에 인풋을 배치하기 위함 */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 10px;
}
.form-group-label{
  /* background-color: lawngreen; */
  /* 크로스브라우징 이슈를 해결하기 위해 밑 코드 사용
  flex를 써서 white-space: nowrap 보다 flex-shrink를 씀
  flex를 안쓰면 white-space: nowrap사용 */
  flex-shrink: 0;
  margin-right: 10px;
}
.form-group-input{
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  padding: 1px 1px 1px 5px;
  flex-grow: 1;
  /* form이 브라우저마다 오류가 있어 크로싱해결을 위해 씀 */
  min-width: 0;
  width: 100%;
}
.search-button{
  flex-shrink: 0;
  background-color: #000;
  color: #fff;
  height: 24px;
  border: 0;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 1.3rem;
}
/* 공지사항 및 자료실 */
.board{
  background-color: yellow;
  margin-top: 20px;
  position: relative;
}
.tab-list{
  /* background-color: lime; */
  display: flex;
  flex-flow: row nowrap;
}
.tab{
  border: 1px solid #aaa;
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  color: #666;
}
/* and조건으로 둘다 만족시키려면 붙여쓰기 */
.is-select.tab{
  background-color: #fff;
  color: #e85e2c;
  border-color: currentColor currentColor #fff currentColor;
}
.tab-panel {
  display: none;
  background-color: pink;
  margin-top: 15px;
}
.is-select.tab-panel{
  display: block;
}
.board-list li{
  background-color: skyblue;
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.board-list a{
flex-grow: 1;
background-color: coral;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.board-list time{
flex-shrink: 0;
margin-left: 10px;

}
.board-more{
  background-color: #296897;
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.icon-plus::before{
  color: hsla(110,50%,30%,1);
}

/* 새소식 */
.news-title{
  color: #e85e2c;
  font-size: 1.5rem;
  font-weight: 700;
}
.news{
  background-color: yellow;
  margin-top: 20px;
  position: relative;
}
.news::before{
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(to right, #ccc,#fff);
}
.news-link{
  background-color: pink;
  display: block;
}
.news-item{
  background-color:skyblue;
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
}
.news-item-title{
  background-color:orange;
  font-weight: 500;
}
.news-item-date{
  background-color:lightgreen;
  /* .news-link랑 .news-item-date에 display:block; 준 이유 */
  /* time이 인라인 속성이라 block 줘야 마진 탑 바텀이 들어감 */
  display: block;
  margin: 5px 0 10px;
}
.news-item-brief{
  background-color:darksalmon;
  line-height: 1.5;
}
.news-item-thumbnail{
  background-color:lightpink;
  /* 부모를 기준으로 좌표를 주어야 움직임  */
  position: absolute;
  top:0;
  left:0;
  text-align: center;
}
.news-item-thumbnail img{
  /* 이미지는 인라인블록 */
  box-shadow: 0 15px 10px 5px #ccc;
  margin-bottom: 15px;
}
.news-more{
  background-color:aqua;
  position: absolute;
  top:-8px;
  right:-8px;
  padding:8px;
}

/* 신규 이벤트 및 관련 사이트 */
.event{
  border-bottom:1px solid #aaa;
}
.event-title{
  display: inline-block;
}

.event-button-wrapper{
  background-color: yellow;
  overflow: hidden;
  height: 20px;
  /* 갭 없애려고 */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap:5px;
  float: right;
}

/* IR(Image Replacement)기법 */
.event-button{
  width: 19px;
  /* 오버플로우 되는 글자가 일부 보이기 때문 */
  height: 18px;
  border: 0;
  padding: 18px 0 0 0;
  background: url(./images/back_forward.png) no-repeat;
}
.event-button:focus{
  outline-offset: -2px;
}
.event-button-next{
  background-position: -36px 0;
}

.event-thumbnail, 
.event-brief{
margin: 10px 0;
}
.event-thumbnail img{
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #ccc;
}
.event-brief{
  line-height: 1.5;
}
.related{
  margin-top: 10px;
}
.related-list{
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 10px;
  height: 27px;
  overflow: hidden;
  padding-top: 0;
  /* transition: <property> <duration> <timing-function> <delay>; */
  transition: height 400ms 0ms, padding 400ms 400ms;
  /* transition-property:background-color ;
  transition-duration: 2000ms;
  transition-delay: 0ms; */
}
.related-list li{
  background-color: yellow;
  height: 25px;
  /* 다른 방법으로 배치 가능 */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 5px;
}
.related-list a{
  background-color: pink;
  flex-grow: 1;
  padding: 0 10px;
}
.related-list:hover,
.related-list:focus{
  background-color: yellow;
  height:147px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* 인기 사이트 */
.favorite{
  /* background-color: pink; */
  position: relative;
}
.favorite-list{
  background-color: yellow;
  list-style-type:none ;
}
.favorite-list li{
  margin-top: 10px;
}
.favorite-list li::before{
  content: "1";
  background-color: #aaa;
  color: #fff;
  padding: 1px 5px;
  font-size: 1.2rem;
  margin-right: 6px;
  border-radius: 3px;
}
.favorite-more{
  position:absolute;
  top:-8px;
  right:-8px;
  padding: 8px;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
  clear: both;
}
/* 푸터 */
.footer {
  background: #ccc linear-gradient(to bottom,
      #ccc 0%,
      #eee 35%,
      #fff 70%,
      #fff 100%);
}

.footer-inner {
  background: silver;
  height: 15vh;
}